body {
  margin: 0;
  padding: 0;
  background-image: url('background.jpg');
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-nav {
  display: flex;
  background-color: #458CB2;
  margin: 0 ;
  padding: 0;
  box-shadow: inset -20px -20px 50px 1px rgba(12, 50, 87, 0.418);
  z-index: 100;
  text-shadow: black;
  border-bottom: 1px rgba(0, 0, 0, 0.801) solid;
  border-left: 1px rgba(0, 0, 0, 0.801) solid;
  border-right: 1px rgba(0, 0, 0, 0.801) solid;
  
}

.heading {
  margin: 0;
  font-size: 6vw;
  text-align: center;
}

ul {
  list-style-type: none;
}

.navigation {
  margin: 0 auto;
  padding: 10px;

}

a {
  text-decoration: none;
  color: rgb(198, 236, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  padding: 6px;
  border-radius: 5px;
  
}

a:hover {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
  background-color: rgb(44, 94, 121);
  transition: .5s;
}

.push {
  margin-left: auto;
}

.container {
  display:flex;
  justify-content: center;
  flex-direction: column;
  height: 30vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;

}

.pcontainer {
  display: flex;
  text-align: justify;
  margin: 0;
  padding: 0 20px 5px 20px;
  background-color: rgba(10, 73, 107, 0.075);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: inset 0px 100px 200px 1px rgba(255, 255, 255, 0.048);
  z-index: 10;
  font-weight: 450;
  color: rgb(223, 245, 248);
  word-spacing: 0.3rem;
  border: 1px rgba(0, 0, 0, 0.13) solid;

}


/* 
.user-icon {
  margin: 10px;
  padding: 5px;
  height: 7rem;
  width: 7rem;
} */


/* GRID */

.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 2rem;
  padding: 1rem;
  
}

.box-img > img {
  width: 100%;

}

.box-img {
  background-color: rgba(0, 160, 253, 0.39);
  margin: 10px;
  padding: 30px;
  border-radius: 50px;
  border: 1px rgba(0, 0, 0, 0.295) solid;
}

.box-img:hover {
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.253);
  transform: scale(1.1);
  transition: .3s;
  border: 1px rgba(0, 0, 0, 0.61) solid;
}

footer {
  background-color: #458CB2;
  height: 10%;
  margin-top: 10px;
  padding: 1px;
  border-top: 1px black solid;
}



.smedia {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  
}

.fa {
  padding: 10px 10px 10px;
}

.copyright {
  display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    font-weight: 700;
    margin-top: 6px;
    margin-right: 20px;
    text-align: center;
}

.socialmedia {
  display: flex;
  justify-content: center;
  
}



@media only screen and (max-width: 600px) {
  .box-img {
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;
    width: 200px;
    margin: 0 auto;
   
  }

  .box-img > img {
    padding-top: 15px;
  }
  a {
    font-size: .9rem;
  }

  .container {
    height: 80vw;
    
  }
  
  .heading {
    margin: 0;
    font-size: 12vw;
    text-align: center;
    
  }
  
  .maintitle {
    padding: 10px;
    border: 1px rgba(0, 0, 0, 0.048) solid;
    background-color: rgba(0, 0, 0, 0.205);
  }
 
}

@media only screen and (max-width: 320px) {

  a {
    font-size: 0.7rem;
  }

  .box-img {
    display: grid;
    grid-template-columns: 1fr;
    height: 180px;
    width: 180px;
    margin: 0 auto;
   
  }

  .box-img > img {
    padding-top: 17px;
  }

  footer {
    font-size: 0.9rem;
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 4px;
  }
}